.PizzaSizePicker {
    max-width: 700px;
    display: flex;
}  
.PizzaSizePicker__item {
    flex: 1;
    border: 1px solid #bdaaff;
    border-right: none;
    padding: 15px;
    text-align: center;
    transition: .3s all ease-in;
}
.PizzaSizePicker__item:last-child {
    border-right: 1px solid #bdaaff;
  }
.PizzaSizePicker__item:hover{
    cursor: pointer;
    background: #dac9ff;
}
.PizzaSizePicker__item:active{
    background: #673ab7;
      color: white;
}
.active{
    background:  #673ab7;
    color: white;
}